body {
  font-family: 'Open Sans', sans-serif; /* Sets the global font to Open Sans, with a fallback to any sans-serif font */
  font-size: 16px; /* Sets the global font size to 16px */
}

textarea {
  background: transparent; /* Makes the textarea background transparent */
  border: none; /* Removes the default border of the textarea */
  resize: none; /* Prevents the textarea from being resizable */
  color: #000000; /* Sets the color of the text in the textarea to black */
  border-left: 1px solid black; /* Adds a 1px solid black border to the left of the textarea */
  padding: 10px; /* Adds 10px of padding inside the textarea */
}

.description {
  white-space: pre-wrap; /* Preserves whitespace and line breaks within the description class */
}

.time-block {
  border-radius: 15px; /* Rounds the corners of the elements with class time-block with a 15px radius */
}

.row {
  border-top: 1px solid white; /* Adds a 1px solid white border to the top of elements with class row */
}

.hour {
  background-color: #ffffff; /* Sets the background color of elements with class hour to white */
  color: #000000; /* Sets the text color of elements with class hour to black */
  border-top: 1px dashed #000000; /* Adds a 1px dashed black border to the top of elements with class hour */
}

.past {
  background-color: #d3d3d3; /* Sets the background color of elements with class past to light gray */
  color: white; /* Sets the text color of elements with class past to white */
}

.present {
  background-color: #ff6961; /* Sets the background color of elements with class present to a light red */
  color: white; /* Sets the text color of elements with class present to white */
}

.future {
  background-color: #77dd77; /* Sets the background color of elements with class future to a light green */
  color: white; /* Sets the text color of elements with class future to white */
}

.saveBtn {
  border-left: 1px solid black; /* Adds a 1px solid black border to the left of elements with class saveBtn */
  border-top-right-radius: 15px; /* Rounds the top right corner of the saveBtn class with a 15px radius */
  border-bottom-right-radius: 15px; /* Rounds the bottom right corner of the saveBtn class with a 15px radius */
  background-color: #06aed5; /* Sets the background color of the saveBtn class to a light blue */
  color: white; /* Sets the text color of the saveBtn class to white */
}

.saveBtn i:hover {
  font-size: 20px; /* Increases the font size to 20px when hovering over the <i> element within the saveBtn class */
  transition: all 0.3s ease-in-out; /* Adds a transition effect to all properties, with a duration of 0.3 seconds and a smooth start and end */
}
